.center {
    margin: auto;
    /* width: 60%; */
    /* border: 3px solid rgb(2, 3, 0); */
    padding: 20px;
}

.display-table {
    margin-top: 20px;
}

.filter-form {
    margin-top: 20px;
}

#filterFormInput{
    margin-left: 10px;
}